@import 'style';

@fullColor: #A72300;
@alertColor: red;

@btnBorder: #5a7da2;
@btnBorderOn: #74b5a6;


.mainDiv {
    background: rgba(76, 97, 94, 0.5);
    border-radius: 7px;
    border: 1px solid rgba(0, 78, 255, 0.32);
    padding-left: 12px;
    width: 392px;

    .gauge {
		.noDrag();
		display: inline-block;
		position: relative;
		margin: 5px;
		background-color: #000;
		border-radius: 7px;
		width: 210px;
		height: 30px;
		box-sizing: border-box;
		padding: 4px 0 0 4px;
		&.alert {
			background-color: #a06000;
		}

		.colorBand {
			display: inline-block;
			height: calc(~"100% - 2px");

			&.green {
				border-radius: 5px 0 0 5px;
				background-color: green;
			}
			&.amber {
				background-color: #A17F13;
			}
			&.red {
				background-color: #A72300;
			}
		}
		&.full .colorBand {
			background-color: @fullColor;
		}
		&.full .colorBand.red {
			border-radius: 0 5px 5px 0;
			width: calc(~"34% - 2px");
		}
		&.alert .colorBand {
			background-color: @alertColor;
		}

		.label {
			position: absolute;
			top: 1px;
			line-height: 30px;
			width: 100%;
			text-align: center;
			color: #a7a7a7;
			text-shadow: 1px 1px 1px black;
		}
	}

	.workBtn, .pauseBtn {
		.noDrag();
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		margin: 5px;
		width: 100px;
		height: 30px;
		background-color: #000;
		border-radius: 7px;
		border: 1px solid @btnBorder;
		color: #666;
		line-height: 30px;
		text-align: center;
		&.activated {
			border: 1px solid @btnBorderOn;
			color: white;
		}
	}

	.settingsBtn {
		.noDrag();
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		margin: 5px;
		width: 40px;
		height: 30px;
		background-color: #000;
		border-radius: 7px;
		border: 1px solid @btnBorder;
		.settingsBtnIcon {
			height: 100%;
			background: url("assets/settings.png") 50% no-repeat;
			-webkit-filter: sepia(0.9) brightness(2);
			background-size: auto 95%;
		}
	}
}
